<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="static/css2/style.css" />
  </head>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="desktop-outline"></ion-icon>
              </span>
              <span class="title">Movies Planet</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Customers</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </span>
              <span class="title">Messages</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="help-outline"></ion-icon>
              </span>
              <span class="title">Help</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="settings-outline"></ion-icon>
              </span>
              <span class="title">Settings</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Password</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- ========================= Main ==================== -->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>

          <div class="search">
            <label>
              <input type="text" placeholder="Search here" />
              <ion-icon name="search-outline"></ion-icon>
            </label>
          </div>

          <div class="user">
            <img src="static/imgs/customer01.jpg" alt="" />
          </div>
        </div>

        <!-- ======================= Cards ================== -->
        <div class="cardBox">
            <div class="card">
              <div>
                <div class="numbers">1,504</div>
                <div class="cardName">Daily Views</div>
              </div>
  
              <div class="iconBx">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
            </div>
  
            <div class="card">
              <div>
                <div class="numbers">230</div>
                <div class="cardName">Watching Now</div>
              </div>
  
              <div class="iconBx">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
            </div>
  
            <div class="card">
              <div>
                <div class="numbers">2300</div>
                <div class="cardName">Daily Downloads</div>
              </div>
  
              <div class="iconBx">
                <ion-icon name="download-outline"></ion-icon>
              </div>
            </div>
  
            <div class="card">
              <div>
                <div class="numbers">$7,842</div>
                <div class="cardName">Earning</div>
              </div>
  
              <div class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
              </div>
            </div>
          </div>

        <!-- ================ Films List ================= -->
        <div class="details">
          <div class="recentOrders">
            <div class="cardHeader">
              <h2>FILMS</h2>
              <a href="#" class="btn">View All</a>
              <a href="addfilm.html" class="btn">Add Film</a>
              <a href="#" class="btn">Delete Film</a>
            </div>

            <table>
              <thead>
                <tr>
                  <td>Name</td>
                  <td>genre</td>
                  <td>year</td>
                  <td>quality</td>
                  <td>delete</td>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>avengers</td>
                  <td>Action</td>
                  <td>2017</td>
                  <td>1080P</td>
                  <td>
                    <button>
                      <ion-icon name="close-circle-outline"></ion-icon>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>Game Of Thrones</td>
                  <td>Drama</td>
                  <td>2012</td>
                  <td>720P</td>
                  <td>
                    <button>
                      <ion-icon name="close-circle-outline"></ion-icon>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>Spider-Man: Homecoming</td>
                  <td>Adventure</td>
                  <td>2017</td>
                  <td>480P</td>
                  <td>
                    <button>
                      <ion-icon name="close-circle-outline"></ion-icon>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>The Dark Knight</td>
                  <td>Action</td>
                  <td>2009</td>
                  <td>4K</td>
                  <td>
                    <button>
                      <ion-icon name="close-circle-outline"></ion-icon>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>VENOM</td>
                  <td>horror</td>
                  <td>2020</td>
                  <td>720P</td>
                  <td>
                    <button>
                      <ion-icon name="close-circle-outline"></ion-icon>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>Black Panther</td>
                  <td>Fantasy</td>
                  <td>2019</td>
                  <td>2K</td>
                  <td>
                    <button>
                      <ion-icon name="close-circle-outline"></ion-icon>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>Lord Of The Rings</td>
                  <td>Action</td>
                  <td>2010</td>
                  <td>1080P</td>
                  <td>
                    <button>
                      <ion-icon name="close-circle-outline"></ion-icon>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td>Interstellar</td>
                  <td>Sci-fi</td>
                  <td>2014</td>
                  <td>720P</td>
                  <td>
                    <button>
                      <ion-icon name="close-circle-outline"></ion-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- ================= LAST VIEWERS ================ -->
          <div class="recentCustomers">
            <div class="cardHeader">
              <h2>Last Viewers</h2>
            </div>

            <table>
              <tr>
                <td width="60px">
                  <div class="imgBx">
                    <img src="static/imgs/customer02.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    David <br />
                    <span>Italy</span>
                  </h4>
                </td>
              </tr>

              <tr>
                <td width="60px">
                  <div class="imgBx">
                    <img src="static/imgs/customer01.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    Amit <br />
                    <span>India</span>
                  </h4>
                </td>
              </tr>

              <tr>
                <td width="60px">
                  <div class="imgBx">
                    <img src="static/imgs/customer02.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    David <br />
                    <span>Italy</span>
                  </h4>
                </td>
              </tr>

              <tr>
                <td width="60px">
                  <div class="imgBx">
                    <img src="static/imgs/customer01.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    Amit <br />
                    <span>India</span>
                  </h4>
                </td>
              </tr>

              <tr>
                <td width="60px">
                  <div class="imgBx">
                    <img src="static/imgs/customer02.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    David <br />
                    <span>Italy</span>
                  </h4>
                </td>
              </tr>

              <tr>
                <td width="60px">
                  <div class="imgBx">
                    <img src="static/imgs/customer01.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    Amit <br />
                    <span>India</span>
                  </h4>
                </td>
              </tr>

              <tr>
                <td width="60px">
                  <div class="imgBx">
                    <img src="static/imgs/customer01.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    David <br />
                    <span>Italy</span>
                  </h4>
                </td>
              </tr>

              <tr>
                <td width="60px">
                  <div class="imgBx">
                    <img src="static/imgs/customer02.jpg" alt="" />
                  </div>
                </td>
                <td>
                  <h4>
                    Amit <br />
                    <span>India</span>
                  </h4>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="static/js4/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
