<footer>

    <div class="footer-content">

      <div class="footer-brand">
        <a href="/" class="navbar-brand">
          <div class="slay" style="font-size: x-large;"><h3 style="color: var(--light-azure);">PlanetMovie</h3></div>
        </a>

       
        <p class="slogan">Movies & TV Shows</p>


        <div class="social-link">

          <a href="#">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
          <a href="#">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
          <a href="#">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <a href="#">
            <ion-icon name="logo-tiktok"></ion-icon>
          </a>
          <a href="#">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>

        </div>
      </div>


      <div class="footer-links">
        <ul>

          <h4 class="link-heading">PlanetMovie</h4>

          <li class="link-item"><a href="#">About us</a></li>
          <li class="link-item"><a href="#">Contacts</a></li>

        </ul>

        <ul>

          <h4 class="link-heading">Browse</h4>

          <li class="link-item"><a href="#">Live Tv</a></li>
          <li class="link-item"><a href="#">Streaming Library</a></li>

        </ul>

        <ul>

          <li class="link-item"><a href="#">TV Shows</a></li>
          <li class="link-item"><a href="#">Collections</a></li>

        </ul>

        <ul>

          <h4 class="link-heading">Help</h4>

          <li class="link-item"><a href="#">Account & Billing</a></li>
          <li class="link-item"><a href="#">Accessibility</a></li>

        </ul>
      </div>

    </div>

    <div class="footer-copyright">

      <div class="copyright">
        <p> 2022 PlanetMovie</p>
      </div>

      <div class="wrapper">
        <a href="#">Privacy policy</a>
        <a href="#">Terms , conditions</a>
      </div>

    </div>

  </footer>

</div>



