{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./static/images/icon.png" type="image/png">
  <title>CineFlix</title>


  <!--
    - custom css 
  -->
  <link rel="stylesheet" href="./static/css/main.css">
  <link rel="stylesheet" href="./static/css/media_query.css">

  <!--
    - google font 
  -->
  <link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900" rel="stylesheet" />
</head>

<body>




  <!--
    - main container
  -->
  <div class="container">

    <!--
      - #HEADER SECTION
    -->

    <header class="">
      <div class="navbar">

        <!--
          - menu button for small screen
        -->
        <button class="navbar-menu-btn">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>


        <a href="/" class="navbar-brand">
          <img src="./static/images/logo.png" alt="">
        </a>

        <!--
          - navbar navigation
        -->

        {%include "navbar.html"%}


    <!--
      - MAIN SECTION
    -->
    <main>

      <!--
        - #BANNER SECTION
      -->
      <section class="banner">
        <div class="banner-card">

          <img src="./static/images/John-Wick-3.jpg" class="banner-img" alt="">

          <div class="card-content">
            <div class="card-info">

              <div class="genre">
                <ion-icon name="film"></ion-icon>
                <span>Action/Thriller</span>
              </div>

              <div class="year">
                <ion-icon name="calendar"></ion-icon>
                <span>2019</span>
              </div>

              <div class="duration">
                <ion-icon name="time"></ion-icon>
                <span>2h 11m</span>
              </div>

              <div class="quality">4K</div>

            </div>

            <h2 class="card-title">Don't take anything for Granted,Keep slaying </h2>
          </div>

        </div>
      </section>
      


 <!-- Main Content-->
 <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for post in posts reversed %}

        <!-- Post preview-->
        <div class="post-preview">
          <a href="/posts/{{post.id}}">
            <h2 class="post-title"><center><h1>{{post.title}}</h1></center></h2>
            <h3 class="post-subtitle" style="font-size: 155;"><center>{{post.body|truncatewords:13}}</center></h3>
          </a>
          <p class="post-meta">
            
            
             <center>Post on{{post.created_at}}</center>
          </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />

        {% endfor %}

        <!-- Pager-->
        <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div> -->
      </div>
    </div>
  </div>


      
        <!--
          - load more button
        -->
        <button class="load-more">LOAD MORE</button>

      </section>







    <!--
      - FOOTER SECTION
    -->
    {%include "footer.html"%}

  <!--
    - custom js link
  -->
  <script src="./static/js/main.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>